@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  @apply text-base;
  @apply bg-primary-pale-blue;

  @media screen and (max-width: 768px) {
    background-image: url("../public/pattern-background-mobile.svg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  @media screen and (min-width: 768px) {
    background-image: url("../public/pattern-background-desktop.svg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    z-index: 0;
  }
}
